@use 'src/global';
@use '@tylertech/forge/sass/table' as forge-table;

$table-row-height: 48px;

@mixin sticky($direction: top, $z-index: 0, $important: false) {
  position: sticky;
  #{$direction}: 0;
  background-color: var(--forge-theme-surface);

  @if ($important) {
    z-index: calc(var(--forge-z-index-surface) + $z-index) !important;
  }

  @else {
    z-index: calc(var(--forge-z-index-surface) + $z-index);
  }
}

@mixin cell-padding() {
  padding-left: var(--table-cell-inline-padding);
  padding-right: var(--table-cell-inline-padding);

  &:first-child,
  &:last-child {
    padding-left: var(--table-cell-inline-padding) !important;
    padding-right: var(--table-cell-inline-padding) !important;
  }
}

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background-color: var(--forge-theme-surface);

  ::ng-deep {
    .forge-table {
      --table-row-height: #{$table-row-height};
      --table-cell-inline-padding: var(--forge-spacing-xsmall);

      min-width: 100%;
      width: max-content;
      position: relative;

      &--editing {
        th {
          cursor: default;
        }

        .forge-table-row__actions,
        .forge-table-row__selector {
          display: none;
        }
      }

      thead,
      tfoot {
        position: sticky;
        background-color: var(--forge-theme-surface);
        z-index: calc(var(--forge-z-index-surface) + 2);
      }

      thead {
        inset-block-start: 0;
      }

      tfoot {
        inset-block-end: 0;
      }

      &-head {
        &__row {
          &--resizing {
            th {
              cursor: col-resize;
            }
          }
        }

        &__cell {
          @include cell-padding();
          width: calc(var(--table-column-width) * 1px);
          min-width: calc(var(--table-column-min-width) * 1px);
          max-width: calc(var(--table-column-max-width) * 1px);
          border-top: var(--forge-border-thin) solid var(--forge-theme-outline);

          &--filtering {
            vertical-align: top;

            .forge-table-head {
              &__cell {
                &-container {
                  min-height: unset;
                  padding-top: 8px;
                }
              }
            }
          }

          &--resizing {
            .forge-table-head__cell-resizer {
              --forge-divider-color: var(--forge-theme-primary);
            }
          }

          &-container {
            position: relative;
            min-height: var(--table-row-height);
          }

          &-sort-icon {
            display: inline !important;
          }

          &-actions {
            position: absolute;
            right: 4px;
            margin-block: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            max-width: 0;
            transition: max-width 250ms;
          }

          &-resizer {
            --forge-button-padding-block: var(--forge-spacing-xxsmall);
            --forge-button-shape: var(--forge-shape-small);
            --forge-button-width: var(--forge-spacing-medium);
            --forge-button-min-width: var(--forge-spacing-medium);
            --forge-button-height: 100%;
            --forge-button-min-height: 100%;
            --forge-button-background: transparent;
            --forge-button-cursor: col-resize;
            --forge-divider-width: var(--forge-spacing-xxxsmall);
            position: absolute;
            top: 0;
            bottom: 0;
            right: calc(var(--forge-spacing-medium) * -1);
          }

          &:last-of-type {
            .forge-table-head__cell-resizer {
              right: calc(var(--forge-spacing-xsmall) * -1);
            }
          }
        }
      }

      &-body {
        &__cell {
          @include cell-padding();

          forge-skeleton {
            margin: 4px 0;
          }

          &__actions {
            display: flex;
            flex-direction: row;
          }
        }

        &__row {
          height: var(--table-row-height);

          &--selected {
            .forge-table-cell {

              &--frozen-left,
              &--frozen-right {
                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background-color: var(--forge-table-theme-row-selected-background, var(--forge-theme-primary-container-low)) !important;
                }
              }
            }

            &:hover {
              .forge-table-cell {

                &--frozen-left,
                &--frozen-right {
                  &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: var(--forge-table-theme-row-selected-hover-background, var(--forge-theme-primary-container)) !important;
                  }
                }
              }
            }
          }

          &:hover {
            .forge-table-cell {

              &--frozen-left,
              &--frozen-right {

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background-color: var(--forge-table-theme-row-hover-background, var(--forge-theme-surface-container-low));
                }
              }
            }
          }
        }
      }

      &-foot {
        &__row {
          @include forge-table.head-row();
          height: var(--table-row-height);
        }

        &__cell {
          @include forge-table.head-cell();
          @include cell-padding();

          border-top: var(--forge-border-thin) solid var(--forge-theme-outline);
        }
      }

      &-row {

        &__selector,
        &__expander {
          width: 52px;
          --table-cell-inline-padding: 0;
          text-align: center;
        }

        &__expandable-content {
          background-color: var(--forge-theme-surface-container-minimum);
          @include global.app-border(border-bottom);

          &:hover {
            background-color: var(--forge-theme-surface-container-minimum) !important;
          }

          &__container {
            width: min-content;
            min-width: 100%;
          }
        }

        &--clickable {
          cursor: pointer;
        }
      }

      &-cell {
        &--frozen-left {
          @include sticky(left);

          &:nth-last-child(1 of .forge-table-cell--frozen-left) {
            border-right: var(--forge-border-medium) solid var(--forge-theme-primary);
          }
        }

        &--frozen-right {
          @include sticky(right);

          &:nth-child(1 of .forge-table-cell--frozen-right) {
            border-left: var(--forge-border-medium) solid var(--forge-theme-primary);
          }
        }

        &__image {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }
  }
}

.header {
  @include global.app-toolbar();
  --forge-toolbar-height: auto;
  --forge-toolbar-min-height: var(--forge-spacing-xxxlarge);

  &__table-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &--selecting {
    --forge-theme-surface: var(--forge-theme-primary-container-low);
  }

  [slot='end'] {
    display: flex;
    align-items: center;
  }
}

.body {
  overflow: auto;

  .busy-indicator {
    padding-inline: 16px;
  }
}

.footer {
  @include global.app-toolbar();
  --forge-toolbar-height: auto;
  --forge-toolbar-min-height: var(--forge-spacing-xxxlarge);
}

forge-page-state {
  --forge-page-state-graphic-spacing: var(--forge-spacing-medium);
  --forge-page-state-graphic-height: calc(var(--forge-spacing-medium) * 10);
  --forge-page-state-graphic-width: calc(var(--forge-spacing-medium) * 10);
  --forge-page-state-spacing: var(--forge-spacing-medium);
  --forge-page-state-title-spacing: var(--forge-spacing-medium);
  --forge-page-state-message-spacing: var(--forge-spacing-medium);
}

@include global.app-drag-drop();