<forge-toolbar class="header" [class.header--selecting]="selectedRowKeys().length && !isEditing()">
  @if (selectedRowKeys().length && !isEditing()) {
    <div class="header__table-selection" slot="start">
      <span class="forge-typography--subheading1">{{ selectedRowKeys().length }} {{ selectedRowKeys().length === 1 ? 'row' : 'rows' }} selected</span>
      <forge-button (click)="table.resetRowSelection(true)" [disabled]="isBusy()">Unselect all</forge-button>
    </div>
  } @else {
    <h3 slot="start" class="forge-typography--heading4">{{ headerTitle() }}</h3>
  }
  <ng-content select="[app-full-table-header]"></ng-content>
  @if (isEditing()) {
    <forge-button slot="end" variant="outlined" (click)="onEdit(false)">
      <forge-icon name="cancel" aria-hidden="true"></forge-icon>
      Cancel
    </forge-button>
    <forge-button slot="end" variant="filled" (click)="onSubmit()">
      <forge-icon name="check" aria-hidden="true"></forge-icon>
      Submit
    </forge-button>
  } @else {
    @if (layoutMode() === 'sm') {
      @if (headerOptions().length) {
        <forge-menu slot="end" [options]="headerOptions()" (forge-menu-select)="onHeaderOptionSelected($event)" (forge-menu-open)="onHeaderActionsMenu('open')">
          <forge-icon-button #headerActionsMenu aria-label="view table actions">
            <forge-icon name="more_vert" aria-hidden="true"></forge-icon>
          </forge-icon-button>
          <forge-tooltip>View table actions</forge-tooltip>
        </forge-menu>
      }
    } @else {
      <div slot="end">
        @if (canFilter() && table.getAllFlatColumns().some((c) => c.getIsFiltered())) {
          <forge-button (click)="onClearFilters()" [disabled]="isBusy()">Clear filters</forge-button>
        }
        @if (canEdit() && !selectedRowKeys().length) {
          <forge-icon-button [disabled]="isBusy()" (click)="onEdit(true)" aria-label="Edit records">
            <forge-icon name="edit"></forge-icon>
          </forge-icon-button>
          <forge-tooltip>Edit records</forge-tooltip>
        }
        @if (canConfigureColumns()) {
          <forge-icon-button [disabled]="isBusy()" (click)="onColumnsConfigure($event)">
            <forge-icon name="view_column"></forge-icon>
          </forge-icon-button>
          <forge-tooltip>Configure columns</forge-tooltip>
        }
        @if (canFilter()) {
          <forge-icon-button [disabled]="isBusy()" (click)="onFilter()" aria-label="Toggle filter">
            <forge-icon name="filter_list"></forge-icon>
          </forge-icon-button>
          <forge-tooltip>Toggle filter</forge-tooltip>
        }
      </div>
    }
  }
  <forge-popover #columnsConfigurePopover placement="right-end" animation-type="none">
    <forge-list class="columns-configure-popover" cdkDropList (cdkDropListDropped)="onColumnDragDrop($event)" [cdkDropListSortPredicate]="columnOrderPredicate" cdkDropListOrientation="vertical">
      @for (column of configurableColumns(); track i; let i = $index) {
        <forge-list-item [value]="column" (forge-list-item-select)="onColumnToggleVisibilty($event.detail.value)" cdkDrag [cdkDragData]="column" cdkDragLockAxis="y">
          <div slot="start" style="column-gap: 8px">
            <forge-icon-button density="small" cdkDragHandle [attr.aria-label]="`${$any(column.columnDef).headerText} column reorder`" [disabled]="$any(column.columnDef).enableOrdering === false">
              <forge-icon name="drag_handle" aria-hidden="true"></forge-icon>
            </forge-icon-button>
            @if (column.columnDef.enableHiding === false) {
              <forge-icon name="checkbox_blank_off" aria-hidden="true"></forge-icon>
            } @else {
              <forge-icon [name]="column.getIsVisible() === false ? 'check_box_outline_blank' : 'check_box'" [style.color]="column.getIsVisible() ? 'var(--forge-theme-primary)' : null" aria-hidden="true"></forge-icon>
            }
          </div>

          <button type="button" [attr.aria-label]="$any(column.columnDef)?.headerText">{{ $any(column.columnDef).headerText }}</button>
        </forge-list-item>
      }
      <forge-divider></forge-divider>
      <forge-list-item>
        <forge-button style="width: 100%" (click)="onColumnSizeReset()">Reset column widths</forge-button>
      </forge-list-item>
    </forge-list>
  </forge-popover>
</forge-toolbar>
<div #bodyRef class="body">
  <ng-content select="[app-full-table-body-header]"></ng-content>
  <form #formRef class="body__table" novalidate autocomplete="off">
    @if (layoutMode() === 'sm') {
      <app-table-mobile [table]="table" [isBusy]="isBusy()" [isEditing]="isEditing()" [columnDefs]="columnDefs()" [tableRowDetailTemplate]="tableRowDetailTemplate()" (rowClicked)="onRowClick($event)"></app-table-mobile>
    } @else {
      <table #tableRef class="forge-table" [class.forge-table--editing]="isEditing()" [class.forge-table--selecting]="selectedRowKeys().length && !isEditing()">
        <thead>
          @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
            <tr class="forge-table-row forge-table-head__row" [class.forge-table-head__row--resizing]="table.getAllFlatColumns().some(c => c.getIsResizing())">
              @for (header of headerGroup.headers; track header.id) {
                @if (!header.isPlaceholder) {
                  <th
                    #sortRef
                    class="forge-table-cell forge-table-head__cell"
                    [class.forge-table-head__cell--filtering]="isFiltering() && filterMode() === 'column'"
                    [class.forge-table-head__cell--resizing]="header.column.getIsResizing()"
                    [class.forge-table-head__cell--sortable]="header.column.getCanSort()"
                    [class.forge-table-head__cell--filtering]="isFiltering() && filterMode() === 'column'"
                    [class.forge-table-cell--frozen-left]="header.column.getIsPinned() === 'left'"
                    [class.forge-table-cell--frozen-right]="header.column.getIsPinned() === 'right'"
                    [class.forge-table-row__actions]="header.column.id === columnIds.actions"
                    [class.forge-table-row__expander]="header.column.id === columnIds.expander"
                    [class.forge-table-row__selector]="header.column.id === columnIds.selector"
                    (mousedown)="onColumnSort($event, header)"
                    [style.--table-column-width]="table.getState().columnSizing[header.id]"
                    [style.--table-column-max-width]="header.column.columnDef.maxSize < maxColumnSize ? header.column.columnDef.maxSize : null"
                    [style.--table-column-min-width]="header.column.columnDef.minSize"
                    [style.vertical-align]="isFiltering() ? 'top' : null"
                  >
                    <div
                      #sortRef
                      class="forge-table-head__cell-container"
                      [class.forge-table-cell--center]="$any(header.column.columnDef).align === cellAlignEnum.Center"
                      [class.forge-table-cell--right]="$any(header.column.columnDef).align === cellAlignEnum.Right"
                    >
                      <ng-container *flexRender="header.column.columnDef.header; props: header.getContext(); let context"></ng-container>
                      @if (header.column.getCanSort() && header.column.getIsSorted()) {
                        <forge-icon
                          #sortRef
                          class="forge-table-head__cell-sort-icon"
                          [name]="header.column.getIsSorted() === 'desc' ? 'arrow_downward' : header.column.getIsSorted() === 'asc' ? 'arrow_upward' : ''"
                          aria-hidden="true"
                        ></forge-icon>
                      }
                      @if (!isBusy() && header.column.columnDef.enableResizing !== false) {
                        <forge-button class="forge-table-head__cell-resizer" tabindex="-1" [attr.aria-label]="`${$any(header.column.columnDef).headerText} column resizer`" (mousedown)="onColumnSize($event, header, sortRef)">
                          <forge-divider vertical="true"></forge-divider>
                        </forge-button>
                      }
                    </div>
                    @if (!isEditing() && isFiltering() && header.column.getCanFilter()) {
                      <app-table-cell-filter [context]="header"></app-table-cell-filter>
                    }
                  </th>
                }
              }
            </tr>
          }
        </thead>
        <tbody>
          @if (isBusy()) {
            @for (skl of loadingIndicators(); track i; let i = $index) {
              <tr class="forge-table-row forge-table-body__row">
                <td class="forge-table-cell forge-table-body__cell" [attr.colspan]="table.getVisibleLeafColumns().length">
                  <forge-skeleton list-item></forge-skeleton>
                </td>
              </tr>
            }
          } @else {
            @for (row of table.getRowModel().rows; track row.id; let rowIndex = $index) {
              <tr class="forge-table-row forge-table-body__row" [class.forge-table-body__row--selected]="row.getIsSelected()" [class.forge-table-row--clickable]="canRowClick()" (click)="onRowClick({ event: $event, row })">
                @for (cell of row.getVisibleCells(); track cell.id; let cellIndex = $index) {
                  <td
                    class="forge-table-cell forge-table-body__cell"
                    [class.forge-table-cell--frozen-left]="cell.column.getIsPinned() === 'left'"
                    [class.forge-table-cell--frozen-right]="cell.column.getIsPinned() === 'right'"
                    [class.forge-table-row__actions]="cell.column.id === columnIds.actions"
                    [class.forge-table-row__expander]="cell.column.id === columnIds.expander"
                    [class.forge-table-row__selector]="cell.column.id === columnIds.selector"
                  >
                    <div
                      class="forge-table-cell__container"
                      [class.forge-table-cell--center]="$any(cell.column.columnDef).align === cellAlignEnum.Center"
                      [class.forge-table-cell--right]="$any(cell.column.columnDef).align === cellAlignEnum.Right"
                    >
                      <ng-container *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let context"></ng-container>
                    </div>
                  </td>
                }
              </tr>
              @if (row.getIsExpanded()) {
                <tr class="forge-table-row forge-table-body__row forge-table-row__expandable-content">
                  <td class="forge-table-row__expandable-content__cell" [attr.colspan]="table.getVisibleLeafColumns().length">
                    <div class="forge-table-row__expandable-content__container">
                      <ng-container *ngTemplateOutlet="tableRowDetailTemplate(); context: { data: row.original, rowIndex }"></ng-container>
                    </div>
                  </td>
                </tr>
              }
            }
          }
        </tbody>
        @if (hasFooter()) {
          <tfoot>
            @for (footerGroup of table.getFooterGroups(); track footerGroup.id) {
              <tr class="forge-table-row forge-table-foot__row">
                @for (footer of footerGroup.headers; track footer.id) {
                  <th class="forge-table-cell forge-table-foot__cell">
                    <div class="forge-table-cell__container">
                      <ng-container *flexRender="footer.column.columnDef.footer; props: footer.getContext(); let context">
                        {{ context }}
                      </ng-container>
                    </div>
                  </th>
                }
              </tr>
            }
          </tfoot>
        }
      </table>
    }
  </form>
  @if (!isBusy() && !recordCount() && state().columns?.filters().length) {
    <forge-page-state>
      <img src="https://cdn.forge.tylertech.com/v1/images/spot-hero/no-search-results-spot-hero.svg" alt="" slot="graphic" />
      <div slot="message">No records found matching the supplied filters.</div>
    </forge-page-state>
  }
  <ng-content select="[app-full-table-body-footer]"></ng-content>
</div>
<forge-toolbar class="footer" inverted>
  <ng-content select="[app-full-table-footer]"></ng-content>
  <forge-paginator
    #paginatorRef
    slot="end"
    [pageIndex]="state().skip() / state().take()"
    [pageSize]="state().take()"
    [total]="recordCount()"
    [disabled]="isBusy() || isEditing()"
    (forge-paginator-change)="onPaginatorChange($event)"
    [alternative]="paginator().alternative"
    [first]="paginator().firstLast"
    [firstLast]="paginator().firstLast"
    [label]="paginator().label"
  ></forge-paginator>
</forge-toolbar>

<ng-template #tableCellHeaderDefault let-context>
  <span #sortRef class="forge-table-head__cell-text">{{ context.column.columnDef.headerText }}</span>
</ng-template>

<ng-template #tableCellDefault let-context>
  {{ context.getValue() }}
</ng-template>

<ng-template #tableRowSelectHeader let-context>
  <forge-checkbox
    [disabled]="isBusy() || isEditing() || !recordCount()"
    [attr.aria-label]="`${table.getIsAllPageRowsSelected() ? 'unselect' : 'select'} all records`"
    [attr.indeterminate]="table.getIsSomePageRowsSelected() ? true : null"
    [checked]="table.getIsAllPageRowsSelected() ? true : false"
    (click)="onStopEvent($event)"
    (change)="onRowSelectHeader(context)"
  ></forge-checkbox>
</ng-template>

<ng-template #tableRowSelect let-context>
  <forge-checkbox [attr.aria-label]="context.row.getIsSelected() ? 'unselect record' : 'select record'" (change)="onRowSelect(context)" (click)="onStopEvent($event)" [disabled]="isEditing()" [checked]="context.row.getIsSelected()">
  </forge-checkbox>
</ng-template>

<ng-template #tableRowExpand let-context>
  <forge-icon-button [attr.aria-label]="context.row.getIsExpanded() ? 'view less' : 'view more'" [attr.aria-expanded]="context.row.getIsExpanded()" (click)="onRowExpand($event, context)">
    <forge-open-icon [open]="context.row.getIsExpanded()" aria-hidden="true"></forge-open-icon>
  </forge-icon-button>
</ng-template>
