@use 'src/global';
@use '@tylertech/forge/sass/table' as forge-table;

$table-row-height: 48px;


@mixin sticky($direction: top, $z-index: 0, $important: false) {
  position: sticky;
  #{$direction}: 0;
  background-color: var(--forge-theme-surface);

  @if ($important) {
    z-index: calc(var(--forge-z-index-surface) + $z-index) !important;
  }

  @else {
    z-index: calc(var(--forge-z-index-surface) + $z-index);
  }
}

@mixin cell-padding() {
  padding-left: var(--table-cell-inline-padding);
  padding-right: var(--table-cell-inline-padding);

  &:first-child,
  &:last-child {
    padding-left: var(--table-cell-inline-padding) !important;
    padding-right: var(--table-cell-inline-padding) !important;
  }
}

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background-color: var(--forge-theme-surface);

  ::ng-deep {
    .forge-table {
      --table-row-height: #{$table-row-height};
      --table-cell-inline-padding: var(--forge-spacing-xsmall);

      min-width: 100%;
      width: max-content;
      position: relative;

      &--editing {
        --table-cell-inline-padding: var(--forge-spacing-xxsmall);

        th {
          cursor: default;
        }
      }

      thead,
      tfoot {
        position: sticky;
        background-color: var(--forge-theme-surface);
        z-index: calc(var(--forge-z-index-surface) + 2);
      }

      thead {
        inset-block-start: 0;
      }

      tfoot {
        inset-block-end: 0;
      }

      &-head {
        &__cell {
          @include cell-padding();
          width: calc(var(--table-column-width) * 1px);

          &:hover {
            .forge-table-head__cell {
              &-actions {
                transition-delay: 500ms;
                max-width: 72px;
              }
            }
          }

          &-container {
            position: relative;
            min-height: var(--table-row-height);
          }

          &-sort-icon {
            display: inline !important;
          }

          &-actions {
            position: absolute;
            right: 4px;
            margin-block: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            max-width: 0;
            transition: max-width 250ms;
          }

          &-resizer {
            --forge-button-padding: 0;
            --forge-button-spacing: 0;
            --forge-button-shape: var(--forge-spacing-xxsmall);
            --forge-button-width: 16px;
            --forge-button-min-width: 16px;
            --forge-button-height: var(--table-row-height);
            --forge-button-min-height: var(--table-row-height);
            --forge-button-background: transparent;
            --forge-button-border-width: 0;
            --forge-button-cursor: col-resize;
            margin-left: auto;
          }
        }
      }

      &-body {
        &__cell {
          @include cell-padding();

          forge-skeleton {
            margin: 4px 0;
          }

          &__actions {
            display: flex;
            flex-direction: row;
          }
        }
      }

      &-foot {
        &__row {
          @include forge-table.head-row();
          height: auto;
        }

        &__cell {
          @include forge-table.head-cell();
          @include cell-padding();

          border-top: var(--forge-border-thin) solid var(--forge-theme-outline);
        }
      }

      &-row {

        &__selector,
        &__expander {
          width: 52px;
          --table-cell-inline-padding: 0;
          text-align: center;
        }

        &__expandable-content {
          background-color: var(--forge-theme-primary-container);
          @include global.app-border(border-bottom);

          &:hover {
            background-color: var(--forge-theme-primary-container) !important;
          }
        }
      }

      &-cell {
        &--frozen-left {
          @include sticky(left);

          &:nth-last-child(1 of .forge-table-cell--frozen-left) {
            border-right: var(--forge-border-medium) solid var(--forge-theme-primary);
          }
        }

        &--frozen-right {
          @include sticky(right);

          &:nth-child(1 of .forge-table-cell--frozen-right) {
            border-left: var(--forge-border-medium) solid var(--forge-theme-primary);
          }
        }

        &--resizing {
          .forge-table-head__cell {
            &-dragger {
              display: none;
            }
          }
        }

        &__image {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }
  }
}

.header {
  @include global.app-toolbar();
}

.body {
  overflow: auto;

  .busy-indicator {
    padding-inline: 16px;
  }
}

.footer {
  @include global.app-toolbar();
}

forge-page-state {
  --forge-page-state-graphic-spacing: var(--forge-spacing-medium);
  --forge-page-state-graphic-height: calc(var(--forge-spacing-medium) * 10);
  --forge-page-state-graphic-width: calc(var(--forge-spacing-medium) * 10);
  --forge-page-state-spacing: var(--forge-spacing-medium);
  --forge-page-state-title-spacing: var(--forge-spacing-medium);
  --forge-page-state-message-spacing: var(--forge-spacing-medium);
}

@include global.app-drag-drop();