<ng-container [formGroup]="formGroup">
  <div class="form-grid">
    <forge-text-field required [invalid]="[formGroup.get('firstName').invalid, formGroup.get('firstName').touched] | appFormControlInvalid">
      <input type="text" id="personal-form--first-name" formControlName="firstName" />
      <label for="personal-form--first-name" slot="label">First Name</label>
      <span slot="helper-text" *ngIf="[formGroup.get('firstName').invalid, formGroup.get('firstName').touched] | appFormControlInvalid">First name is required</span>
    </forge-text-field>

    <forge-text-field required [invalid]="[formGroup.get('lastName').invalid, formGroup.get('lastName').touched] | appFormControlInvalid">
      <input type="text" id="personal-form--first-name" formControlName="lastName" />
      <label for="personal-form--last-name" slot="label">Last Name</label>
      <span slot="helper-text" *ngIf="[formGroup.get('lastName').invalid, formGroup.get('lastName').touched] | appFormControlInvalid">Last name is required</span>
    </forge-text-field>

    <forge-select label="Gender" formControlName="gender" [options]="genderOptions"></forge-select>

    <forge-text-field required [invalid]="[formGroup.get('email').invalid, formGroup.get('email').touched] | appFormControlInvalid">
      <input type="text" id="personal-form--email" formControlName="email" />
      <label for="personal-form--email" slot="label">Email</label>
      <span slot="helper-text" *ngIf="[formGroup.get('email').invalid, formGroup.get('email').touched] | appFormControlInvalid">Email is required</span>
    </forge-text-field>

    <forge-text-field required [invalid]="[formGroup.get('phone').invalid, formGroup.get('phone').touched] | appFormControlInvalid">
      <input type="text" id="personal-form--phone" formControlName="phone" />
      <label for="personal-form--phone" slot="label">Phone</label>
      <span slot="helper-text" *ngIf="[formGroup.get('phone').invalid, formGroup.get('phone').touched] | appFormControlInvalid">Phone number is required</span>
    </forge-text-field>

    <forge-date-picker>
      <forge-text-field>
        <input type="text" id="personal-form--dob" formControlName="dateOfBirth" />
        <label for="personal-form--dob">Date of birth</label>
      </forge-text-field>
    </forge-date-picker>

    <forge-text-field class="form-grid__comment form-grid--col-span">
      <textarea type="text" id="personal-form--comment" formControlName="comment" rows="4"></textarea>
      <label for="personal-form--comment">Comment</label>
    </forge-text-field>

    <forge-label-value>
      <span slot="label">Rank {{formGroup?.value.rank}}</span>
      <div slot="value">
        <forge-slider type="discrete" min="0" max="10" formControlName="rank"></forge-slider>
      </div>
    </forge-label-value>

    <forge-label-value>
      <span slot="label">Size</span>
      <div slot="value" role="radiogroup" aria-label="Choose size option">
        <forge-radio *ngFor="let option of sizeOptions; index as i">
          <input type="radio" id="personal-form--size-{{i}}" formControlName="size" value="{{option.value}}" />
          <label for="personal-form--size-{{i}}">{{option.label}}</label>
        </forge-radio>
      </div>
    </forge-label-value>
  </div>

  <forge-divider></forge-divider>

  <div class="friends">
    <ng-container formArrayName="friends">
      <div class="friend" *ngFor="let friend of formGroup.get('friends')?.controls; index as i">
        <forge-select [options]="friendOptions" [formControlName]="i" label="Friend" [invalid]="[friend.invalid, friend.touched] | appFormControlInvalid">
          <span slot="helper-text" *ngIf="[friend.invalid, friend.touched] | appFormControlInvalid">A friend is required</span>
        </forge-select>
        <forge-icon-button>
          <button type="button" aria-label="delete" (click)="onDeleteFriend(i)">
            <forge-icon name="delete"></forge-icon>
          </button>
        </forge-icon-button>
      </div>
      <forge-button type="raised">
        <button type="button" (click)="onAddFriend()">Add friend</button>
      </forge-button>
    </ng-container>
  </div>
</ng-container>