@use 'src/global' as *;

:host {
  display: block;
}

.form-grid {
  @include app-form-grid();

  &__comment {
    textarea {
      resize: none;
    }
  }
}

forge-divider {
  margin: 16px 0;
}

.friends {
  .friend {
    @include forge-flex-container(flex, row, nowrap, flex-start);
    padding-bottom: 16px;

    forge-select {
      min-width: 320px;
    }

    forge-icon-button {
      margin-top: 4px;
    }
  }
}

@include app-form-control-invalid();