@use 'src/global' as *;

:host {
  display: block;
}

.form-grid {
  @include app-form-grid();

  &__comment {
    textarea {
      resize: none;
    }
  }
}

forge-divider {
  margin: 16px 0;
}

.friends {
  .friend {

    padding-bottom: 16px;

    forge-select {
      width: 320px;
    }
  }
}