<ng-container [formGroup]="formGroup">
  <div class="form-grid">
    <forge-text-field required [appFormControlInvalid]="formGroup.controls.firstName" [invalidMessage]="firstNameErrorMessage">
      <label slot="label" for="profile--personal--first-name">First name</label>
      <input type="text" id="profile--personal--first-name" formControlName="firstName" [appInputCasing]="'upper'" appAutoFocus />
    </forge-text-field>

    <forge-text-field required [appFormControlInvalid]="formGroup.controls.lastName" invalidMessage="Last name is required">
      <label slot="label" for="profile--personal--last-name">Last name</label>
      <input type="text" id="profile--personal--last-name" formControlName="lastName" />
    </forge-text-field>

    <forge-select id="profile--personal--gender" label="Gender" required formControlName="gender" [options]="genderOptions" [appFormControlInvalid]="formGroup.controls.gender" invalidMessage="Gender is required"></forge-select>

    <forge-text-field required [appFormControlInvalid]="formGroup.controls.email" invalidMessage="Email is required">
      <label slot="label" for="profile--personal--email">Email</label>
      <input type="text" id="profile--personal--email" formControlName="email" />
    </forge-text-field>

    <forge-text-field required [appFormControlInvalid]="formGroup.controls.phone" invalidMessage="Phone number is required">
      <label slot="label" for="profile--personal--phone">Phone</label>
      <input type="text" id="profile--personal--phone" formControlName="phone" />
    </forge-text-field>

    <forge-date-picker formControlName="dateOfBirth">
      <forge-text-field [appFormControlInvalid]="formGroup.controls.dateOfBirth" invalidMessage="DOB is required">
        <label slot="label" for="profile--personal--dob">Date of birth</label>
        <input type="text" id="profile--personal--dob" />
      </forge-text-field>
    </forge-date-picker>

    <forge-text-field class="form-grid__comment form-grid--col-span">
      <label slot="label" for="profile--personal--comment">Comment</label>
      <textarea type="text" id="profile--personal--comment" formControlName="comment" rows="4"></textarea>
    </forge-text-field>

    <forge-label-value style="--forge-label-value-align: stretch">
      <span slot="label">Rank {{ formGroup.value.rank }}</span>
      <div slot="value">
        <forge-slider data-aria-label="Rank" min="0" max="10" formControlName="rank"></forge-slider>
      </div>
    </forge-label-value>

    <forge-label-value>
      <span slot="label">Size</span>
      <forge-radio-group slot="value" aria-label="Choose a size option" name="profile--personal--size">
        @for (option of sizeOptions; track i; let i = $index) {
          <forge-radio name="profile--personal--size" formControlName="size" value="{{ option.value }}">
            {{ option.label }}
          </forge-radio>
        }
      </forge-radio-group>
    </forge-label-value>

    <forge-label-value>
      <span slot="label">Citizen</span>
      <div slot="value">
        <forge-switch formControlName="citizen" aria-label="Is a citizen"></forge-switch>
      </div>
    </forge-label-value>

    <app-date-time label="Entry date" formControlName="entryDate"></app-date-time>
  </div>

  <forge-divider></forge-divider>

  <div class="friends">
    <ng-container formArrayName="friends">
      @for (friend of formGroup.controls.friends.controls; track i; let i = $index) {
        <div class="friend">
          <forge-select [options]="friendOptions" [formControlName]="i" label="Friend" [appFormControlInvalid]="formGroup.controls.friends.controls[i]" invalidMessage="A friend is required">
            <forge-icon-button slot="accessory" density="medium" [attr.aria-label]="`Delete friend ${i}`" (click)="onDeleteFriend(i)">
              <forge-icon aria-hidden="true" name="delete"></forge-icon>
            </forge-icon-button>
          </forge-select>
        </div>
      }
      <forge-button variant="filled" (click)="onAddFriend()"> Add friend</forge-button>
    </ng-container>
  </div>
</ng-container>
