<app-dialog-template dialogTitle="{{ title }}" dialogLabel="{{ title }}" (dialogClose)="onCancel()">
  <form class="form-grid" novalidate autocomplete="off" [formGroup]="formGroup">
    <forge-text-field required [appFormControlInvalid]="formGroup.controls.name" invalidMessage="A name is required">
      <label slot="label" for="filter-save--name">Name</label>
      <input type="text" id="filter-save--name" formControlName="name" appAutoFocus />
    </forge-text-field>
    <forge-text-field>
      <label slot="label" for="filter-save--description">Description</label>
      <input type="text" id="filter-save--description" formControlName="description" />
    </forge-text-field>
    <forge-checkbox formControlName="isDefault">Make this your default filter</forge-checkbox>
  </form>

  <ng-container app-dialog-footer>
    <forge-button slot="end" variant="outlined" (click)="onCancel()">Cancel</forge-button>
    <forge-button slot="end" variant="filled" (click)="onSave()" [disabled]="formGroup.invalid">Save</forge-button>
  </ng-container>
</app-dialog-template>
