<forge-toolbar class="header">
  <h2 slot="start" class="forge-typography--subheading4">Forge Icons - Standard</h2>
  <forge-autocomplete slot="start" [filter]="iconOptionFilter" (forge-autocomplete-change)="onIconSelected($event.detail)">
    <forge-text-field>
      @if (selectedIcon) {
        <forge-icon slot="start" [name]="selectedIcon"></forge-icon>
      }
      <input type="text" aria-label="Filter icons" placeholder="Filter" />
      <forge-icon slot="end" class="forge-dropdown-icon" name="arrow_drop_down"></forge-icon>
    </forge-text-field>
  </forge-autocomplete>
</forge-toolbar>

<div class="body">
  <div #bodyIconsRef class="body__icons" role="list">
    <cdk-virtual-scroll-viewport [itemSize]="itemSize()">
      <div *cdkVirtualFor="let icon of cache.iconOptions" class="icon" role="listitem">
        <forge-icon lazy [name]="icon.value"></forge-icon>
        <div class="forge-typography--label1">{{ icon.value }}</div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
