@use 'src/global' as *;

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.app-card--raised {
    @include app-container-raised();
  }

  &.app-card--outlined {
    @include app-container-outlined();
  }
}

.header {
  &:empty {
    display: none;
  }
}

.body {
  padding: 16px;
  overflow: auto;
  flex-grow: 1;
}

.footer {
  @include app-toolbar-gap();

  &:empty {
    display: none;
  }
}
