registry=https://tylertech.jfrog.io/artifactory/api/npm/npm/
//tylertech.jfrog.io/artifactory/api/npm/npm/:_authToken=${ARTIFACTORY_PASSWORD}
//tylertech.jfrog.io/artifactory/api/npm/npm/:email=${ARTIFACTORY_USERNAME}
always-auth=true
legacy-peer-deps=true
