{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 240,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "singleQuote": false,
        "singleAttributePerLine": false,
        "printWidth": 240
      }
    }
  ]
}