@use 'src/global';

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
}

.body {
  overflow: auto;
  padding: 24px;

  form {
    padding: 16px;

    @include global.app-container-outlined();
    @include global.app-form-grid();

    & {
      grid-template-columns: 320px;
    }
  }
}