@use 'src/global';

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.header {
  overflow: hidden;

  [slot='start'] {
    @include global.forge-flex-container(flex, row, nowrap, center);
  }
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  overflow: auto;

  &__left {
    @include global.app-container-outlined();
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
    width: 320px;
  }

  &__right {
    img {
      max-width: 320px;
      max-height: 320px;
    }
  }
}