@use 'src/global';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

::ng-deep {
  .app--chart {
    &--tree-node {
      @include global.app-border();
      white-space: nowrap;
      background-color: global.$forge-color-indigo-50;

      &--selected {
        background-color: global.$forge-color-indigo-500;
        color: white;
      }
    }

    &--panning {
      user-select: none;
    }
  }
}

.chart-card {
  margin: 24px;
  height: calc(100% - 48px);
  @include global.app-container-outlined();

  .chart-container {
    position: relative;
    height: 100%;
  }
}