@use 'src/global' as *;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

::ng-deep {
  .app--chart {
    &--tree-node {
      @include app-border();
      white-space: nowrap;
      background-color: $mat-color-indigo-50;

      &--selected {
        background-color: $mat-color-indigo-500;
        color: white;
      }
    }

    &--panning {
      user-select: none;
    }
  }
}

.chart-container {
  padding: 16px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}