<div [formGroup]="formGroup" class="form-grid">
  <forge-text-field required [invalid]="isInvalid('name')" class="form-grid--row-break">
    <input type="text" id="address-form--name" formControlName="name" />
    <label for="address-form--name" slot="label">Name</label>
    <span slot="helper-text" *ngIf="isInvalid('name')">Name is required</span>
  </forge-text-field>

  <forge-text-field required [invalid]="isInvalid('street')" class="form-grid--row-break">
    <input type="text" id="address-form--street" formControlName="street" />
    <label for="address-form--street" slot="label">Street</label>
    <span slot="helper-text" *ngIf="isInvalid('street')">Street is required</span>
  </forge-text-field>

  <forge-text-field required [invalid]="isInvalid('city')">
    <input type="text" id="address-form--city" formControlName="city" />
    <label for="address-form--city" slot="label">City</label>
    <span slot="helper-text" *ngIf="isInvalid('city')">City is required</span>
  </forge-text-field>

  <div class="form-grid__state-zip">
    <forge-text-field required [invalid]="isInvalid('state')">
      <input type="text" id="address-form--state" formControlName="state" />
      <label for="address-form--state" slot="label">State</label>
      <span slot="helper-text" *ngIf="isInvalid('state')">State is required</span>
    </forge-text-field>

    <forge-text-field required [invalid]="isInvalid('zip')">
      <input type="text" id="address-form--zip" formControlName="zip" />
      <label for="address-form--zip" slot="label">Zip code</label>
      <span slot="helper-text" *ngIf="isInvalid('zip')">Zip code is required</span>
    </forge-text-field>
  </div>
</div>