:host {
  display: contents;
}

forge-autocomplete,
forge-datepicker,
forge-text-field,
forge-select {
  width: 100%;
  --forge-field-background: var(--forge-theme-surface);

  &::part(label) {
    display: none;
  }
}