@use 'src/global' as *;
@use './lib/styles.scss' as charting;

:host {
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 16px;

  ::ng-deep {
    @include charting.chart-styles();
  }
}

.chart-card {
  padding: 8px;
  margin: 24px;
  @include app-container-raised();
  .chart-container {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.legend-container {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 280px;
  max-height: 100%;
  background-color: var(--forge-theme-surface);
  @include app-border(border-left);
  --forge-list-item-padding: 0;
  padding: 16px;
  forge-list-item {
    [slot='start'] {
      background-color: var(--item-color);
      width: 24px;
      height: 24px;
    }
  }
}

::ng-deep {
  .chart-legend {
    [slot='leading'] {
      width: 16px;
      height: 16px;
      background-color: var(--item-color);
    }
  }
}
