<div class="chart-card">
  <div #chartContainer class="chart-container app-chart"></div>
</div>
@if (showLegend) {
  <div class="legend-container">
    <forge-list class="chart-legend">
      @for (item of legendData; track i; let i = $index) {
        <forge-list-item>
          <div slot="start" [style.--item-color]="item.color"></div>
          <span>{{ item.label }}</span>
          <span slot="secondary-text">{{ item.value }}</span>
        </forge-list-item>
      }
    </forge-list>
  </div>
}
