@use 'src/global';

:host {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.header {
  overflow: hidden;

  [slot='start'] {
    display: flex;
    align-items: center;
    column-gap: 16px;

    forge-select {
      width: 320px;

      &::part(label) {
        display: none;
      }
    }
  }
}

forge-tab-bar {
  background-color: var(--forge-theme-surface);

  &::part(container) {
    justify-items: flex-start;
  }

  forge-tab {
    min-width: 240px;
  }
}

.body {
  overflow: hidden;
  height: 100%;
}