@if (columnDefs()?.length) {
  @for (row of table().getRowModel().rows; track row.id; let rowIndex = $index, last = $last) {
    @if (isBusy()) {
      <div class="busy-indicator">
        @for (skl of [1, 2, 3]; track i; let i = $index) {
          <forge-skeleton list-item></forge-skeleton>
        }
      </div>
    } @else {
      <ng-container *ngTemplateOutlet="columnRowTemplate; context: { row: row, rowIndex }"></ng-container>
    }
    @if (!last) {
      <forge-divider></forge-divider>
    }
  }
}

<ng-template #columnRowTemplate let-row="row" let-rowIndex="rowIndex">
  @if (rowClickEnabled() && !isEditing()) {
    <forge-button-area (click)="onRowClick($event, row)" [disabled]="isBusy()">
      <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
      <button type="button" slot="button"></button>
      <ng-container *ngTemplateOutlet="columnCellsTemplate; context: { row: row, rowIndex }"></ng-container>
    </forge-button-area>
  } @else {
    <ng-container *ngTemplateOutlet="columnCellsTemplate; context: { row: row, rowIndex }"></ng-container>
  }
  @if (row.getVisibleCells().filter(cell => cell.id == columnIds.expander && cell.enableMobile !== false )) {
    <forge-button class="row-expander" variant="tonal" (click)="onRowExpand($event, row)">
      <forge-open-icon slot="start" [open]="row.getIsExpanded()" aria-hidden="true"></forge-open-icon>
      {{ row.getIsExpanded() ? 'View less' : 'View more' }}
    </forge-button>
  }
  @if (row.getIsExpanded()) {
    <ng-container *ngTemplateOutlet="tableRowDetailTemplate(); context: { data: row.original, rowIndex }"></ng-container>
  }
</ng-template>

<ng-template #columnCellsTemplate let-row="row" let-rowIndex="rowIndex">
  <div class="row">
    @for (cell of row.getVisibleCells(); track cell.id; let cellIndex = $index) {
      @if (cell.column.columnDef.enableMobile !== false && cell.column.id !== columnIds.expander) {
        <forge-label-value>
          <div slot="label">
            {{ cell.column.columnDef.headerText }}
          </div>
          <div slot="value">
            <ng-container *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let context"></ng-container>
          </div>
        </forge-label-value>
      }
    }
  </div>
</ng-template>
