@use 'src/global';

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
}

.header {
  @include global.app-toolbar-gap();
}

.body {
  overflow: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.card,
.template-card {
  @include global.app-container-outlined();

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}