@use 'src/global' as *;

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

forge-drawer {
  --forge-drawer-width: auto;
}

.header {
  @include forge-flex-container(flex, row, nowrap, center);
  @include forge-theme-property(border-bottom, $forge-theme-border);

  &__title {
    margin-left: 16px;
  }
}

.body {
  padding: 8px 16px;
  @include app-form-grid();
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px 16px;
  @include forge-theme-property(border-top, $forge-theme-border);

  forge-button {
    margin-left: 8px;
  }
}
