@use 'src/global';

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

forge-drawer {
  --forge-drawer-width: auto;
}

.header {
  overflow: hidden;
  @include global.forge-flex-container(flex, row, nowrap, center);
  @include global.app-border(border-bottom);

  &__title {
    margin-left: 16px;
  }
}

.body {
  padding: 8px 16px;
  @include global.app-form-grid();
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px 16px;
  @include global.app-border(border-top);

  forge-button {
    margin-left: 8px;
  }
}