@use 'src/global';

:host {
  display: block;
  padding: 24px;
}

.card-container {
  display: grid;
  grid-template-columns: 320px 320px;
  gap: 24px;

  forge-list {
    --forge-list-padding: 0;
  }
}

.title {
  margin-bottom: 16px;
}

@include global.app-drag-drop();

.cdk-drag {
  @include global.app-border();
  cursor: move;
}