@use 'src/global';

$form-cell-width: 192;
$form-column-gap: 16;

:host {
  display: block;
  padding: 24px;
}

.filter {
  &__header {
    @include global.forge-flex-container(flex, row, nowrap, center);
    margin: 8px 0;

    &__condition {
      --forge-field-height: 2.5rem;
      --forge-field-outline-style: none;
      --forge-field-background: var(--forge-theme-surface-container);
    }
  }

  &__form {
    display: grid;
    grid-gap: 0 #{$form-column-gap}px;
    grid-template-columns: #{$form-cell-width + 24}px #{$form-cell-width - 24}px minmax(#{$form-cell-width * 2 + $form-column-gap}px, 1fr) 96px;
    align-items: start;

    &__range {
      display: grid;
      grid-gap: 0 #{$form-column-gap}px;
      grid-template-columns: minmax(#{$form-cell-width}px, 1fr) minmax(#{$form-cell-width}px, 1fr);
      align-items: start;
    }

    &__action {
      @include global.forge-flex-container(flex, row, nowrap, center);
      margin-top: 1rem;
    }
  }

  &__group {
    @include global.app-container-outlined();
    padding: 16px;

    & .filter__group {
      border: 1px dashed var(--forge-theme-outline);
      margin: 8px 0;
      padding: 8px 16px;
    }

    border-left: 4px solid var(--forge-theme-primary);
    margin: 16px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &__add {
      --forge-button-height: 3rem;
    }
  }
}