<form [formGroup]="formGroup" novalidate autocomplete="off">
  <div formArrayName="filters">
    @for (filterGroup of formGroup.controls.filters.controls; track filterIndex; let filterIndex = $index) {
      <div class="filter__group">
        <ng-container *ngTemplateOutlet="filterFormTemplate; context: { formGroup: filterGroup, index: filterIndex }"></ng-container>
      </div>
    }
  </div>

  <forge-button class="filter__group__add" variant="tonal" (click)="onAddFilter(formGroup, 'condition')">
    <forge-icon name="add_circle"></forge-icon>
    Add a new condition
  </forge-button>

  <p>{{ formGroup.getRawValue() | json }}</p>
</form>

<ng-template #filterFormTemplate let-formGroup="formGroup" let-index="index">
  @if (index > 0) {
    <ng-container *ngTemplateOutlet="filterHeaderTemplate; context: { formGroup: formGroup }"></ng-container>
  }

  <ng-container [formGroup]="formGroup">
    <div class="filter__form">
      <forge-autocomplete formControlName="property" [filter]="propertyFilter">
        <forge-text-field required [appFormControlInvalid]="formGroup.controls.property" invalidMessage="A property is required">
          <label slot="label" for="{{ 'query-builder--filter-property-' + index }}">Property</label>
          <input type="text" id="{{ 'query-builder--filter-property-' + index }}" />
          <forge-icon slot="end" class="forge-dropdown-icon" name="arrow_drop_down"></forge-icon>
        </forge-text-field>
      </forge-autocomplete>

      <forge-select formControlName="operator" label="Operator" required [appFormControlInvalid]="formGroup.controls.operator" invalidMessage="An operator is required">
        @for (operator of operatorOptions; track i; let i = $index) {
          <forge-option [value]="operator.value">{{ operator.label }}</forge-option>
        }
      </forge-select>

      @if (formGroup.controls.operator.value === 6) {
        <div class="filter__form__range">
          <forge-text-field required [appFormControlInvalid]="formGroup.controls.minValue" invalidMessage="A minimum value is required">
            <label slot="label" for="{{ 'query-builder--filter-min-' + index }}">Minimum</label>
            <input type="text" id="{{ 'query-builder--filter-min-' + index }}" formControlName="minValue" />
          </forge-text-field>
          <forge-text-field
            required
            [appFormControlInvalid]="formGroup.controls.maxValue"
            [invalidMessage]="formGroup.controls.maxValue.errors.required ? 'A maximum value is required' : formGroup.controls.maxValue.errors.range ? 'Max value must be greater or equal to min value' : ''"
          >
            <label slot="label" for="{{ 'query-builder--filter-max-' + index }}">Maximum</label>
            <input type="text" id="{{ 'query-builder--filter-max-' + index }}" formControlName="maxValue" />
          </forge-text-field>
        </div>
      } @else {
        <forge-text-field required [appFormControlInvalid]="formGroup.controls.value" invalidMessage="A value is required">
          <label slot="label" for="{{ 'query-builder--filter-value-' + index }}">Value</label>
          <input type="text" id="{{ 'query-builder--filter-value-' + index }}" formControlName="value" />
        </forge-text-field>
      }

      <div class="filter__form__action">
        <forge-menu [options]="filterOptions" (forge-menu-select)="onAddFilter(formGroup, $event.detail.value)">
          <forge-icon-button aria-label="Add filter">
            <forge-icon name="add_circle"></forge-icon>
          </forge-icon-button>
        </forge-menu>
        <forge-icon-button (click)="onDeleteFilter(formGroup)" aria-label="Delete filter">
          <forge-icon name="delete"></forge-icon>
        </forge-icon-button>
      </div>
    </div>

    @if (formGroup.controls.filters.controls?.length) {
      <ng-container formArrayName="filters">
        @for (filter of formGroup.controls.filters.controls; track filterIndex; let filterIndex = $index) {
          <ng-container *ngTemplateOutlet="filterHeaderTemplate; context: { formGroup: filter }"></ng-container>
          <div class="filter__group">
            <ng-container *ngTemplateOutlet="filterFormTemplate; context: { formGroup: filter, index: filterIndex }"></ng-container>
          </div>
        }
      </ng-container>
    }
  </ng-container>
</ng-template>

<ng-template #filterHeaderTemplate let-formGroup="formGroup">
  <div class="filter__header">
    <forge-select [formControl]="formGroup.get('condition')" class="filter__header__condition">
      @for (condition of conditionOptions; track i; let i = $index) {
        <forge-option [value]="condition.value">{{ condition.label }}</forge-option>
      }
    </forge-select>
  </div>
</ng-template>
