@use 'src/global' as *;

:host {
  display: block;
}

[slot='body'] {
  display: grid;
  @include forge-theme-property(background-color, background);
}

forge-drawer {
  --forge-drawer-width: auto;

  .expander {
    width: 100%;
    padding: 8px;

    button {
      min-width: 100%;
      @include forge-flex-container(flex, row, nowrap, center);

      forge-icon {
        margin-left: auto;
      }
    }
  }
}