<forge-scaffold>
  <app-header slot="header"></app-header>

  <forge-drawer slot="body-left">
    <app-menu [options]="appCache.menu.options" [type]="appCache.menu.type" [selectedValue]="appCache.activeRoute"></app-menu>
    <forge-button slot="footer" class="expander">
      <button type="button" aria-label="Expand menu" (click)="expand()">
        <forge-icon [name]="appCache.menu.type === 'mini' ? 'chevron_right' : 'chevron_left'"></forge-icon>
      </button>
    </forge-button>
  </forge-drawer>
  <div class="app-content" slot="body">
    <router-outlet></router-outlet>
  </div>
</forge-scaffold>