@use 'src/global' as *;

:host {
  display: block;
}

[slot='body'] {
  display: grid;
  background-color: var(--forge-theme-surface-dim);
}

.menu-expander {
  --forge-button-height: 3rem;

  &--open {
    forge-icon {
      margin-left: auto;
      margin-right: 8px;
    }
  }
}
