<forge-scaffold>
  <app-header slot="header"></app-header>

  @if (appCache.menu.open) {
  <forge-drawer slot="body-left">
    <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
  </forge-drawer>
  } @else {
  <forge-mini-drawer slot="body-left">
    <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
  </forge-mini-drawer>
  }
  <div class="app-content" slot="body">
    <router-outlet></router-outlet>
  </div>
</forge-scaffold>

<ng-template #menuTemplate>
  <app-menu [options]="appCache.menu.options" [open]="appCache.menu.open" [selectedValue]="appCache.activeRoute"></app-menu>
  <forge-button slot="footer" class="menu-expander" [ngClass]="{'menu-expander--open': appCache.menu.open}" aria-label="Toggle menu" (click)="expand()">
    <forge-icon [name]="appCache.menu.open ? 'chevron_left' : 'chevron_right'"></forge-icon>
  </forge-button>
</ng-template>