@use 'src/global';

:host {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

::ng-deep {
  formly {

    &-form,
    &-group,
    &-field {
      display: block;
    }
  }
}

.body {
  padding: 24px;
  overflow: auto;
}

.form {
  @include global.app-container-outlined();
  padding: 16px;

  min-width: 680px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}