<app-dialog dialogTitle="Save search">
  <form class="form-grid" novalidate autocomplete="off" [formGroup]="formGroup">
    <forge-text-field required [appFormControlInvalid]="formGroup.controls.name">
      <input type="text" id="search-save--name" formControlName="name" autofocus />
      <label for="search-save--name" slot="label">Name</label>
      <span slot="support-text" class="app-form-control-invalid">A name is required</span>
    </forge-text-field>
    <forge-text-field>
      <input type="text" id="search-save--description" formControlName="description" />
      <label for="search-save--description" slot="label">Description</label>
    </forge-text-field>
    <div>
      <forge-checkbox formControlName="isDefault"> Make this your default search </forge-checkbox>
      <forge-checkbox formControlName="isPublic"> Make this search public </forge-checkbox>
    </div>
  </form>

  <ng-container app-dialog-footer>
    <forge-button slot="end" variant="outlined" (click)="onCancel()"> Cancel </forge-button>
    <forge-button slot="end" variant="raised" (click)="onSave()" [disabled]="formGroup.invalid || !formGroup.dirty"> Save </forge-button>
  </ng-container>
</app-dialog>
