@use 'src/global' as *;

:host {
  display: block;
  margin: 24px;
  padding: 16px;
  @include app-container-outlined();
}

.form-grid {
  justify-content: center;
  @include app-form-grid();
}

forge-divider {
  margin: 16px 0;
}