@use 'src/global' as *;

:host {
  display: block;
  margin: 24px;
  padding: 16px;
  @include app-container-outlined();
}

::ng-deep {
  app--forge--popup--center {
    display: block;
    margin-inline: auto;
  }
}

.form-grid {
  justify-content: center;
  @include app-form-grid();
}

forge-divider {
  margin: 16px 0;
}