<forge-toolbar class="header">
  <h2 slot="start" class="forge-typography--subheading4">People</h2>
  <app-routerlink-button slot="end" route="/profile" icon="person" label="View profile"></app-routerlink-button>
</forge-toolbar>

<div class="body">
  <div class="body__left">
    @if (appCache.layoutMode === 'sm') {
      @if (!isBusy) {
        <app-table-mobile [data]="recordset" [columnConfigurations]="tableColumns"></app-table-mobile>
      }
    } @else {
      <div [ngClass]="{ 'app--hidden': isBusy }" class="table">
        <div class="table__header" [ngClass]="{ 'table__header-action': selectedPeople.length }">
          @if (!selectedPeople.length) {
            <app-filter-chips [filters]="filterCache.filters" (filter)="onApplyFilter(true)"></app-filter-chips>
            <forge-button class="app--flex-right" variant="outlined" (click)="onTableShowFilter()">
              @if (filterCache.filters.length) {
                <forge-badge class="table__header__filter-count" theme="info-primary">{{ filterCache.filters.length }}</forge-badge>
              } @else {
                <forge-icon name="filter_list"></forge-icon>
              }
              <span>Filter</span>
            </forge-button>
            <forge-icon-button id="people--home--column-select" class="table__header__columns" aria-label="Choose table columns">
              <forge-icon name="view_column"></forge-icon>
            </forge-icon-button>
            <forge-select-dropdown target="#people--home--column-select" multiple [value]="selectedTableColumns" (change)="onTableOptionSelected($event.detail)">
              @for (column of optionalTableColumns; track i; let i = $index) {
                <forge-option [value]="column.property">
                  {{ column.header }}
                </forge-option>
              }
            </forge-select-dropdown>
          } @else {
            <span>{{ selectedPeople.length }} people selected</span>
          }
        </div>

        <forge-table
          #peopleTable
          class="table__body"
          [ngClass]="{ 'app--hidden': !recordCount }"
          [data]="recordset"
          [columnConfigurations]="tableColumns"
          (forge-table-sort)="onTableSort($event)"
          select-key="id"
          (forge-table-select)="onPeopleSelected()"
          (forge-table-select-all)="onPeopleSelected()"
          fixed-headers="true"
          [filter]="viewCache.showFilter"
          (forge-table-filter)="onTableFilter($event)"
        ></forge-table>
      </div>
    }

    @if (isBusy) {
      <div class="busy-state">
        <forge-skeleton list-item></forge-skeleton>
        <forge-skeleton list-item></forge-skeleton>
        <forge-skeleton list-item></forge-skeleton>
      </div>
    } @else {
      @if (recordCount) {
        <div class="table__footer">
          <nav class="app--flex-right" aria-label="pagination">
            <forge-paginator [pageIndex]="filterCache.skip / filterCache.take" [pageSize]="filterCache.take" [total]="recordCount" (forge-paginator-change)="onTablePaginatorChange($event)"></forge-paginator>
          </nav>
        </div>
      } @else {
        <div class="empty-state">
          <img src="https://cdn.forge.tylertech.com/v1/images/spot-hero/general-empty-state-spot-hero.svg" alt />
          <div>No people found.</div>
        </div>
      }
    }
  </div>

  <app-people-home-filter (filter)="onApplyFilter(false)"></app-people-home-filter>
</div>
