<forge-text-field>
  @if (label?.length) {
    <label [attr.for]="id" slot="label">{{ label }}</label>
  }
  <input #dateTimeInput type="text" [id]="id" [formControl]="dateTime" [imask]="mask" [unmask]="'typed'" />
  <forge-icon-button [id]="'popover-toggle-' + id" slot="end" tabindex="-1" aria-label="Open calendar" density="medium" [disabled]="dateTime.disabled">
    <forge-icon name="insert_invitation"></forge-icon>
  </forge-icon-button>
  <forge-popover cdkTrapFocus [anchor]="'popover-toggle-' + id" placement="bottom-end" (forge-popover-toggle)="onPopoverToggle($event)" animationType="none">
    <form class="calendar-popover" novalidate autocomplete="off">
      <forge-calendar #calendar [id]="'calendar-' + id" (forge-calendar-date-select)="onDateSelected($event)" preventFocus="false" tabindex="0"></forge-calendar>
      <forge-divider></forge-divider>
      <forge-time-picker [formControl]="time">
        <forge-text-field>
          <label slot="label" [attr.for]="'time-' + id" slot="label">Time</label>
          <input #timeInput type="text" [id]="'time-' + id" placeholder="hh:mm:ss aa" />
        </forge-text-field>
      </forge-time-picker>
    </form>
  </forge-popover>
</forge-text-field>
