@use 'src/global';
@use '@tylertech/forge/sass/core/styles/tokens/drawer/mini/tokens' as drawer-mini-tokens;

:host {
  display: block;
}

.menu {
  forge-menu {
    cursor: pointer;
  }

  &__item {
    --forge-list-padding: 0;

    button {
      height: 24px;
    }

    &--nested {
      margin-left: 16px;
    }
  }

  &-expander {
    margin: 8px;
  }

  &--mini {
    --forge-drawer-width: auto;

    &::part(content) {
      width: 100%;
      margin-inline: auto;
      min-width: 56px;
    }

    forge-list-item {
      text-align: center;
    }

    forge-menu {
      display: block;
    }

    .menu-expander {
      --forge-button-padding-inline: 0;
      --forge-button-min-width: 56px;
    }
  }
}