@use '@tylertech/forge/styles/drawer/drawer/variables' as forge-drawer-variables;
@use 'src/global' as *;

:host {
  display: block;
}

.menu {
  transition: width forge-drawer-variables.$transition-duration;

  &--mini {
    --forge-list-item-leading-margin-right: 0;
    width: forge-drawer-variables.$mini-width;
  }

  &--dismissible {
    width: forge-drawer-variables.$width;
  }

  &__item {
    --forge-list-padding: 0;

    &--nested {
      margin-left: 16px;
    }
  }
}