@use 'src/global' as *;

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
}

:host-context(body.app--layout-sm) {
  background-color: lightgray;
}

:host-context(body.app--layout-md) {
  background-color: lightgreen;
}

:host-context(body.app--layout-lg) {
  background-color: lightblue;
}

.body {
  overflow: hidden;
  padding: 24px;
  app-card {
    height: 100%;
  }
}

.card {
  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &__section {
      @include app-border();
      padding: 16px;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      &__footer {
        display: flex;
        align-items: center;
        column-gap: 16px;
      }
    }
  }
}
