<forge-toolbar class="header">
  <h2 slot="start" class="forge-typography--subheading4">Misc examples</h2>
</forge-toolbar>

<div class="body">
  <app-card border="raised">
    <div app-card-header slot="start">
      <span>Card header</span>
    </div>
    <div app-card-header slot="end">
      <forge-icon-button aria-label="Close">
        <forge-icon name="close"></forge-icon>
      </forge-icon-button>
    </div>

    <ng-template #variableTemplate [ngTemplateOutlet]="variableTemplate" [ngTemplateOutletContext]="{ $implicit: { cats: 1, dogs: 2 } }" let-variable>
      <p>{{ variable | json }}</p>
    </ng-template>

    <p>{{ 0 | appArrayFind: arrayData : "value" : "label" }}</p>
    <p>{{ 1 | appArrayFind: arrayData : "value" | json }}</p>
    <p>{{ propertyPaths | json }}</p>
    <p>
      <forge-text-field>
        <input type="text" id="test--parent--file-name" [(ngModel)]="fileName" autocomplete="off" />
        <label for="test--parent--file-name" slot="label">File name</label>
        <span slot="support-text">Must exist in src/mock-data</span>
      </forge-text-field>
      <forge-button style="margin-top: 16px" variant="filled" (click)="onShowFile()" [disabled]="!fileName?.length">Show file</forge-button>
    </p>

    <div app-card-footer slot="end">
      <forge-button variant="outlined" (click)="onShowBusy()">Show busy</forge-button>
      <forge-button variant="outlined">Cancel</forge-button>
      <forge-button variant="raised">Save</forge-button>
    </div>
  </app-card>
</div>
