<forge-toolbar class="header">
  <div slot="start">
    <h2 class="forge-typography--subheading4">Profile</h2>
    @if (imageUrl) {
    <img [src]="imageUrl" (error)="onImageError($event)" alt>
    }
  </div>

  <div slot="end">
    <forge-button variant="outlined" (click)="onLoadProfile()">
      Load profile
    </forge-button>
  </div>
</forge-toolbar>

<forge-tab-bar secondary [activeTab]="activeTab">
  <forge-tab (forge-tab-select)="onTabSelected('personal')">
    Personal
    @if ([personalFormGroup.invalid, personalFormGroup.touched] | appCallback:isInvalid) {
    <forge-icon slot="end" name="error"></forge-icon>
    }
  </forge-tab>
  <forge-tab (forge-tab-select)="onTabSelected('address')">
    Address
    @if ([addressFormGroup.invalid, addressFormGroup.touched] | appCallback:isInvalid) {
    <forge-icon slot="end" name="error"></forge-icon>
    }
  </forge-tab>
</forge-tab-bar>

<div class="body">
  <form novalidate autocomplete="off" [formGroup]="cache.formGroup">
    <router-outlet></router-outlet>
    <p>
      {{cache.formGroup.getRawValue() | json}}
    </p>
  </form>
</div>

<forge-toolbar class="footer" inverted>
  <div slot="end">
    <forge-button variant="outlined" (click)="onCancel()">
      Cancel
    </forge-button>
    <forge-button variant="raised" (click)="onSave()" [disabled]="cache.formGroup.invalid || !cache.formGroup.dirty">
      Save
    </forge-button>
  </div>
</forge-toolbar>