<forge-toolbar class="header">
  <div slot="start">
    <h2 class="forge-typography--subheading4">Profile</h2>
    @if (imageUrl) {
      <img [src]="imageUrl" (error)="onImageError($event)" alt />
    }
  </div>

  <div slot="end">
    <forge-button variant="outlined" (click)="onLoadProfile()"> Load profile </forge-button>
  </div>
</forge-toolbar>

<forge-tab-bar [activeTab]="activeTab">
  <forge-tab (forge-tab-select)="onTabSelected('personal')" id="app--profile--personal--tab" aria-controls="app--profile--personal--tab-body">
    Personal
    @if ([personalFormGroup.invalid, personalFormGroup.touched] | appCallback: isInvalid) {
      <forge-icon slot="end" name="error"></forge-icon>
    }
  </forge-tab>
  <forge-tab (forge-tab-select)="onTabSelected('address')" id="app--profile--address--tab" aria-controls="app--profile--address--tab-body">
    Address
    @if ([addressFormGroup.invalid, addressFormGroup.touched] | appCallback: isInvalid) {
      <forge-icon slot="end" name="error"></forge-icon>
    }
  </forge-tab>
</forge-tab-bar>

<div class="body">
  <form novalidate autocomplete="off" [formGroup]="cache.formGroup">
    <p class="forge-typography--label3" style="margin-top: 0"><span class="app--color--error">*</span> indicates a required field</p>
    <router-outlet></router-outlet>
    <p>
      {{ cache.formGroup.getRawValue() | json }}
    </p>
  </form>
</div>

<forge-toolbar class="footer" inverted>
  <div slot="end">
    <forge-button variant="outlined" (click)="onCancel()">Cancel</forge-button>
    <forge-button variant="filled" (click)="onSave()" [disabled]="cache.formGroup.invalid || !cache.formGroup.dirty"> Save </forge-button>
  </div>
</forge-toolbar>
