@use 'src/global' as *;

:host {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  overflow: hidden;
  @include forge-theme-property(background-color, surface);
}

.header {
  --forge-toolbar-border-bottom: none;

  [slot='end'],
  [slot='start'] {
    @include forge-flex-container(flex, row, nowrap, center);

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 16px;
    }
  }
}

forge-tab-bar {
  display: inline-flex;
  @include app-border(border-bottom);

  forge-tab {
    min-width: 240px;

    forge-icon {
      color: $forge-theme-danger;
    }
  }
}

.body {
  padding: 24px;
  overflow: auto;
}

.footer {
  [slot='end'] {
    forge-button {
      margin-left: 16px;
    }
  }
}