@use 'src/global';

$card-width: 320;

:host {
  display: grid;
}

.announcements {
  color: var(--forge-theme-text-high-inverse);
}

.body {
  @include global.forge-flex-container(flex, column, nowrap, center);
  gap: 16px;
  width: fit-content;
  margin-inline: auto;

  @media (max-width: global.$app-width-breakpoint--sm) {
    width: 100%;
  }

  forge-card {
    &::part(root) {
      @include global.forge-flex-container(flex, column, nowrap, center);
      row-gap: 16px;
    }

    img {
      height: 120px;
      width: 120px;
    }
  }

  &__top {
    @include global.forge-flex-container(flex, row, wrap);
    justify-content: center;
    gap: 16px;

    forge-card {
      width: #{$card-width}px;
    }
  }

  &__bottom {
    width: 100%;

    forge-card {
      width: 100%;
      min-width: global.$app-width-breakpoint--sm;

      @media (max-width: global.$app-width-breakpoint--sm) {
        min-width: 100%;
      }
    }

  }
}

.footer {
  min-height: 3rem;
  @include global.forge-flex-container(flex, row, nowrap, center);
  padding: 0 16px;
  justify-content: flex-end;
}