@use 'src/global';

:host {
  display: block;
  width: 100%;
}

forge-toolbar[slot='header'] {
  forge-icon-button[slot='after-end'] {
    margin-right: 8px;
  }
}

forge-toolbar[slot='footer'] {
  @include global.app-toolbar(end);
}