@use 'src/global';
@use '@tylertech/forge/sass/table' as forge-table;

@mixin sticky($direction: top, $z-index: 0, $important: false) {
  position: sticky;
  #{$direction}: 0;
  background-color: var(--forge-theme-surface);

  @if ($important) {
    z-index: calc(var(--forge-z-index-surface) + $z-index) !important;
  }

  @else {
    z-index: calc(var(--forge-z-index-surface) + $z-index);
  }
}

@mixin cell-padding() {
  padding-left: var(--table-cell-inline-padding);
  padding-right: var(--table-cell-inline-padding);

  &:first-child,
  &:last-child {
    padding-left: var(--table-cell-inline-padding) !important;
    padding-right: var(--table-cell-inline-padding) !important;
  }
}

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
  background-color: var(--forge-theme-surface);

  ::ng-deep {
    .forge-table {
      --table-row-height: 48px;
      --table-cell-inline-padding: 8px;

      min-width: 100%;
      width: max-content;
      position: relative;

      thead,
      tfoot {
        position: sticky;
        background-color: var(--forge-theme-surface);
        z-index: calc(var(--forge-z-index-surface) + 2);
      }

      thead {
        inset-block-start: 0;
      }

      tfoot {
        inset-block-end: 0;
      }

      &-head {
        &__cell {
          @include cell-padding();
          min-width: calc(var(--table-column-width, 200) * 1px);
          max-width: calc(var(--table-column-width, 200) * 1px);

          &:hover {
            .forge-table-head__cell {
              &-actions {
                transition-delay: 500ms;
                max-width: 72px;
              }
            }
          }

          &-container {
            position: relative;
          }

          &-sort-icon {
            display: inline !important;
          }

          &-actions {
            position: absolute;
            right: 4px;
            margin-block: auto;
            overflow: hidden;
            display: flex;
            align-items: center;
            max-width: 0;
            transition: max-width 250ms;
          }
        }
      }

      &-body {
        &__cell {
          @include cell-padding();

          forge-text-field {
            width: 100%;
            --forge-field-background: var(--forge-theme-surface);

            &::part(label) {
              display: none;
            }
          }

          forge-skeleton {
            margin: 4px 0;
          }

          &__actions {
            display: flex;
            flex-direction: row;
          }
        }
      }

      &-foot {
        &__row {
          @include forge-table.head-row();
        }

        &__cell {
          @include forge-table.head-cell();
          @include cell-padding();

          border-top: var(--forge-border-thin) solid var(--forge-theme-outline);
        }
      }

      &-row {

        &__selector,
        &__expander {
          min-width: 48px;
          max-width: 48px;
          --table-cell-inline-padding: 0;
          text-align: center;
        }

        &__expandable-content {
          background-color: global.$forge-color-indigo-50 !important;
          @include global.app-border(border-bottom);
        }
      }

      &-cell {
        &--frozen-left {
          @include sticky(left);
          border-right: var(--forge-border-medium) solid var(--forge-theme-primary);
        }

        &--frozen-right {
          @include sticky(right);
          border-left: var(--forge-border-medium) solid var(--forge-theme-primary);
        }

        &--resizing {
          .forge-table-head__cell {
            &-dragger {
              display: none;
            }
          }
        }

        &__image {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }
  }
}

::ng-deep {
  .column-popover {
    min-width: 280px;
    --forge-list-padding: 0;

    forge-list-item {
      cursor: pointer;
    }
  }
}

.header {
  @include global.app-toolbar-gap();
}

.body {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  height: 100%;

  &__table {
    overflow: auto;
  }
}

.footer {
  @include global.app-toolbar-gap();
}

.cdk-drag {
  &-preview {
    @include global.app-container-outlined();
    border: solid 2px global.$forge-color-indigo-500;
    display: flex;
    padding: 0 24px;

    .forge-table-head__cell-actions {
      display: none;
    }
  }

  &-placeholder {
    .forge-table-head__cell-container {
      visibility: hidden;
    }

    background-color: global.$forge-color-indigo-50;
  }

  &-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drop-list {
  &-dragging {
    .cdk-drag:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.empty-state {
  @include global.forge-flex-container(flex, column, nowrap, center);
  padding: 24px;

  img {
    width: 256px;
  }
}