<forge-toolbar class="header">
  <h2 slot="start" class="forge-typography--subheading4">Table demo</h2>
</forge-toolbar>

<forge-popover #columnHeaderPopover placement="right-end" animation-type="none" open="false">
  <forge-list class="column-popover" (forge-list-item-select)="onColumnPopoverItemSelected($event.detail.value)">
    @for (column of tableColumns; track i; let i = $index) {
      <forge-list-item [value]="column">
        <forge-icon slot="start" [name]="column.hidden ? 'check_box_outline_blank' : 'check_box'"></forge-icon>
        <button type="button">{{ column.header }}</button>
      </forge-list-item>
    }
    <forge-divider></forge-divider>
    <forge-list-item value="reset-column-width">
      <button type="button">Reset column widths</button>
    </forge-list-item>
    <forge-list-item value="freeze-column">
      <button type="button">Freeze column</button>
    </forge-list-item>
  </forge-list>
</forge-popover>

<div class="body">
  <div class="body__table">
    <cdk-virtual-scroll-viewport [itemSize]="tableRowHeight">
      <table #table class="forge-table forge-table--fixed">
        <thead [style.--table-header-offset]="tableHeaderOffset()" [style.--table-header-translate-y]="tableHeaderOffset() * -tableRowHeight + 'px'">
          <tr class="forge-table-row forge-table-head__row" cdkDropList (cdkDropListDropped)="onColumnHeaderDragDrop($event)" cdkDropListOrientation="horizontal">
            <th class="forge-table-cell forge-table-head__cell forge-table-row__expander"></th>
            @for (col of tableColumns | appCallback: $any(visibleColumns); track colIndex; let colIndex = $index) {
              <th
                scope="col"
                class="forge-table-cell forge-table-head__cell forge-table-head__cell--sortable"
                cdkDrag
                cdkDragLockAxis="x"
                (cdkDragStarted)="onColumnHeaderDragStart()"
                (click)="onTableSort($event, col)"
                (contextmenu)="onColumnHeaderRightClick($any($event), colIndex)"
                tabindex="-1"
                [style.--table-column-width]="col.width"
                [id]="'th-' + colIndex + '-' + id"
              >
                <div class="forge-table-head__cell-container">
                  <span class="forge-table-head__cell-text">{{ col.header }}</span>
                  @if (col.sortDirection?.length) {
                    <forge-icon [name]="col.sortDirection === 'DESC' ? 'arrow_downward' : col.sortDirection === 'ASC' ? 'arrow_upward' : ''" class="forge-table-head__cell-sort-icon" aria-hidden="true"></forge-icon>
                  }
                </div>
                <div class="forge-table-head__cell-actions">
                  <div class="forge-table-head__cell-dragger" cdkDragHandle></div>
                  <div class="forge-table-head__cell-resizer" (mousedown)="onColumnHeaderResize($event, colIndex + 1, col)"></div>
                </div>
              </th>
            }
          </tr>
        </thead>
        <tbody>
          <ng-container *cdkVirtualFor="let record of recordset(); trackBy: recordsetTrackBy; let recordIndex = index">
            <tr
              class="forge-table-row forge-table-body__row"
              [ngClass]="{
                'forge-table-row--expanded': expandedRows[recordIndex]
              }"
            >
              <td class="forge-table-cell forge-table-body__cell forge-table-row__expander">
                <forge-icon-button (click)="onExpandRow(recordIndex, record)" aria-label="Toggle details">
                  <forge-icon [name]="expandedRows[recordIndex] ? 'expand_less' : 'expand_more'"></forge-icon>
                </forge-icon-button>
              </td>
              @for (col of tableColumns | appCallback: $any(visibleColumns); track colIndex; let colIndex = $index) {
                <td class="forge-table-cell forge-table-body__cell">
                  <div class="forge-table-cell__container">
                    {{ $any(record)[col.property] }}
                  </div>
                </td>
              }
            </tr>
            @if (expandedRows[recordIndex]) {
              <tr class="forge-table-row forge-table-body__row forge-table-row__expandable-content">
                <td class="forge-table-row__expandable-content-cell" [attr.colspan]="(tableColumns | appCallback: $any(visibleColumns)).length + 1">
                  <app-table-detail [data]="expandedRows[recordIndex]" [rowIndex]="recordIndex"></app-table-detail>
                </td>
              </tr>
            }
          </ng-container>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>

  <forge-toolbar inverted="true">
    <span slot="end" class="forge-typography--label1">Records: {{ recordset().length }}</span>
    <!-- <forge-paginator slot="end" [pageIndex]="filterCache.skip / filterCache.take" [pageSize]="filterCache.take" [total]="recordset().length" (forge-paginator-change)="onTablePaginatorChange($event.detail)"></forge-paginator> -->
  </forge-toolbar>
</div>
