@use '@tylertech/forge/dist/forge-core';

@use '@tylertech/forge/dist/forge';
@use '@tylertech/forge/dist/table/forge-table.css';

@use 'src/global' as *;

@use '@tylertech/forge/sass/theme/theme-dark';

@use 'ag-grid-community/styles/ag-grid.css';
@use 'ag-grid-community/styles/ag-theme-material.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

.forge-theme-dark {
  @include theme-dark.theme-properties;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @include theme-dark.theme-properties;
//   }
// }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

html,
body,
app-root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

router-outlet {
  display: none;
}

// forge-icon {
//   color: var(--forge-theme-icon-color);
// }

.app {
  &--hidden {
    display: none !important;
  }

  &--flex-right {
    margin-left: auto;
  }

  &--form-control-invalid {
    display: none;

    &[invalid] {
      display: block;

      .app--form-control-invalid[slot='support-text'] {
        display: block;
      }
    }
  }

  &--color {
    &--primary {
      color: var(--forge-theme-primary);
    }
    &--secondary {
      color: var(--forge-theme-secondary);
    }
    &--tertiary {
      color: var(--forge-theme-tertiary);
    }
    &--success {
      color: var(--forge-theme-success);
    }
    &--error {
      color: var(--forge-theme-error);
    }
    &--warning {
      color: var(--froge-theme-warning);
    }
    &--info {
      color: var(--forge-theme-info);
    }
  }

  &--background-color {
    &--primary {
      background-color: var(--forge-theme-primary-container);
    }
    &--secondary {
      background-color: var(--forge-theme-secondary-container);
    }
    &--tertiary {
      background-color: var(--forge-theme-tertiary-container);
    }
    &--success {
      background-color: var(--forge-theme-success-container);
    }
    &--error {
      background-color: var(--forge-theme-error-container);
    }
    &--warning {
      background-color: var(--froge-theme-warning-container);
    }
    &--info {
      background-color: var(--forge-theme-info-container);
    }
  }
}

forge-popover {
  --forge-popover-min-width: 240px;
}
