@use '@tylertech/forge/dist/forge-core';

@use '@tylertech/forge/dist/forge';
@use '@tylertech/forge/dist/table/forge-table.css';

// @use '@tylertech/forge/sass/button/forge-button';
// @use '@tylertech/forge/sass/floating-action-button/forge-floating-action-button';
// @use '@tylertech/forge/sass/icon-button/forge-icon-button';
// @use '@tylertech/forge/sass/table/forge-table';
// @use '@tylertech/forge/sass/tooltip/forge-tooltip';
// @use '@tylertech/forge/sass/ripple/forge-ripple';
// @use '@tylertech/forge/sass/quantity-field/forge-quantity-field';
// @use '@tylertech/forge/sass/popup/forge-popover';
// @use '@tylertech/forge/sass/busy-indicator/forge-busy-indicator';
// @use '@tylertech/forge/sass/dialog/forge-dialog';
// @use '@tylertech/forge/sass/dialog/forge-dialog-utils';
// @use '@tylertech/forge/sass/expansion-panel/forge-expansion-panel';

@use 'src/global' as *;

@use '@tylertech/forge/sass/theme/theme-dark';

@use 'ag-grid-community/styles/ag-grid.css';
@use 'ag-grid-community/styles/ag-theme-material.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

.forge-theme-dark {
  @include theme-dark.theme-properties;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @include theme-dark.theme-properties;
//   }
// }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

html,
body,
app-root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

router-outlet {
  display: none;
}

// forge-icon {
//   color: var(--forge-theme-icon-color);
// }

.app {
  &--hidden {
    display: none !important;
  }

  &--flex-right {
    margin-left: auto;
  }
}

forge-dialog {
  &::part(surface) {
    display: flex;
  }
  forge-scaffold {
    height: auto;
  }
}
