@use 'src/global';

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

::ng-deep {
  .searches-popover {
    min-width: 280px;

    *[slot='trailing'] {
      @include global.forge-flex-container(flex, row, nowrap, center);
      margin-right: -16px;
    }
  }

  .operator-popover {
    min-width: 200px;

    forge-list-item {
      cursor: pointer;
    }
  }
}

.header {
  forge-button {
    margin-left: 16px;
  }

  overflow: hidden;
  white-space: nowrap;

  [slot='start'] {
    @include global.forge-flex-container(flex, row, nowrap, center);

    forge-divider {
      margin: 0 16px;
      height: 32px;
    }

    span+span {
      margin-left: 16px;
    }
  }
}

.body {
  overflow: auto;
  padding: 24px;

  .form {
    @include global.app-container-outlined();
    padding: 16px;
    @include global.app-form-grid();
  }
}

.operator {
  &__addon {
    &--selected {
      color: var(--forge-theme-warning);
    }
  }
}