<app-dashboard-template>
  <img app-dashboard-header-banner src="assets/banner-skyline.jpg" alt="" />
  <div class="header" app-dashboard-header>
    <app-dashboard-title titleTop="Top Title" titleMiddle="Middle title"></app-dashboard-title>
    <div class="header__actions">
      <forge-button>
        <img slot="start" src="https://cdn.forge.tylertech.com/v1/images/spot/tyler-workflow-spot.svg" alt="" />
        <span class="forge-typography--heading4">Action 1</span>
      </forge-button>
      <forge-button>
        <img slot="start" src="https://cdn.forge.tylertech.com/v1/images/spot/tyler-workflow-spot.svg" alt="" />
        <span class="forge-typography--heading4">Action 2</span>
      </forge-button>
    </div>
  </div>
  <div class="body">
    <div class="card">
      <div class="card__body">Card content</div>
    </div>
  </div>
  <div class="footer" app-dashboard-footer>
    <span>Dashboard footer</span>
  </div>
  <div class="footer-banner" app-dashboard-footer-banner>
    <span>&copy;Site footer content</span>
  </div>
</app-dashboard-template>
