@use 'src/global';
@use 'src/app/shared/components/dashboard-template/mixins' as dashboard;

@include dashboard.dashboard-template();

.card {
  @include global.app-container-outlined();
  padding: 1rem;
  overflow: auto;
  max-height: 100%;

  &__body {
    width: 100%;
    min-width: 400px;
    height: 400px;
    background-color: red;
    padding: 1rem;
  }
}