@use 'src/global' as *;

:host {
  display: grid;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
  height: 100%;
}

.header {
  [slot='start'] {
    @include forge-flex-container(flex, row, nowrap, center);
  }
}

.body {
  overflow: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
