<forge-toolbar class="header">
  <h2 slot="start" class="forge-typography--subheading4">Parent</h2>
</forge-toolbar>

<div class="body">
  <p>Parent content</p>
  <form novalidate autocomplete="off" [formGroup]="formGroup" class="form">
    <forge-text-field>
      <input type="text" id="test--parent--name" formControlName="name" />
      <label for="test--parent--name" slot="label">Name</label>
      <span slot="support-text">{{ formGroup.controls.name.status }} | {{ formGroup.controls.name.touched }} | {{ formGroup.controls.name.dirty }}</span>
    </forge-text-field>
    <forge-text-field>
      <input type="text" id="test--parent--age" formControlName="age" />
      <label for="test--parent--age" slot="label">Age</label>
      <span slot="support-text">{{ formGroup.controls.age.status }} | {{ formGroup.controls.age.touched }} | {{ formGroup.controls.age.dirty }}</span>
    </forge-text-field>
    <forge-text-field>
      <input type="text" id="test--parent--location" formControlName="location" />
      <label for="test--parent--location" slot="label">Location</label>
      <span slot="support-text">{{ formGroup.controls.location.status }} | {{ formGroup.controls.location.touched }} | {{ formGroup.controls.location.dirty }}</span>
    </forge-text-field>
    <p>{{ formGroup.status }} | {{ formGroup.touched }} | {{ formGroup.dirty }}</p>
  </form>
  <div style="display: flex; column-gap: 16px">
    <forge-button variant="raised" (click)="onNavigate('test/child')">View child</forge-button>
    <forge-button variant="raised" (click)="onMakeRequest()">Make request</forge-button>
    <forge-button variant="raised" (click)="onValidate()">Validate</forge-button>
    <forge-button variant="raised" (click)="onResetForm()">Reset form</forge-button>
  </div>
</div>
