<forge-toolbar class="header">
  <h2 slot="start" class="forge-typography--subheading4">Parent</h2>
</forge-toolbar>

<div class="body">
  <div>Parent content</div>

  <div style="display: flex; flex-wrap: wrap; gap: 8px 16px; padding-block: 16px">
    <forge-button variant="raised" (click)="onNavigate('test/child')">View child</forge-button>
    <forge-button variant="outlined" (click)="onSendMessage()" [disabled]="isMessaging">
      <span>Send message</span>
      @if (isMessaging) {
        <forge-circular-progress></forge-circular-progress>
      }
    </forge-button>
    <forge-button variant="outlined" (click)="onMakeLongRequest()" [disabled]="isRequesting">
      <span>Make long request</span>
      @if (isRequesting) {
        <forge-circular-progress></forge-circular-progress>
      }
    </forge-button>
    <forge-button variant="outlined" (click)="onMakePollingRequest()" [disabled]="isPolling">
      <span>Make polling request</span>
      @if (isPolling) {
        <forge-circular-progress></forge-circular-progress>
      }
    </forge-button>
  </div>
  <div style="overflow-wrap: break-word">{{ response }}</div>
</div>
