:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
}

.body {
  overflow: auto;
  padding: 24px;

  &__container {
    display: flex;
    align-items: center;
    gap: 8px 16px;
    flex-wrap: wrap;
    padding-block: 8px;
  }
}

forge-button {
  --forge-circular-progress-size: 1rem;
}